$white-color: #ffffff;
$black-color: #111111;
$primary-color: #b50008;
$secondary-color: #350002;
$light-gray: #f2f2f2;
$accent: #b50008;
$accent-dark: #650004;
$card: #ffffff;
$muted: #777777;
$text: #171717;
